<div class="row-xs-2">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <h2
        [routerLink]="['new']"
        class="panel-heading"
        style="padding: 3%; margin-top: -0.1%"
      >
        Contacts<button class="btn btn-success pull-right">New Contact</button>
      </h2>

      <div class="row" style="padding: 2%">
        <div class="col-xs-12">
          <app-contact-item
            *ngFor="let contactEl of contacts"
            [contact]="contactEl"
          >
          </app-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
