<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="headerfont Item1">{{ contact.name }}</h3>

        <div class="row">
          <div class="col-xs-12" style="display: inline-flex">
            <div>
              <img
                class="img-responsive"
                [src]="contact.imageUrl"
                alt="{{ contact.name }}"
              />
            </div>

            <div class="row">
              <div class="col-xs-12">
                <a
                  class="btn btn-danger pull-right"
                  style="margin-right: -10%"
                  (click)="onDelete()"
                >
                  Delete
                </a>
                <a
                  [routerLink]="['/contacts', contact.id, 'edit']"
                  class="btn btn-primary pull-right"
                  style="margin-right: 5%"
                >
                  Edit
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-group-item clearfix">
      <p><b>Email:</b> {{ contact.email }}</p>
      <p><b>Phone:</b> {{ contact.phone }}</p>
    </div>
  </div>
</div>
